<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Komunikaty</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
    <div style="text-align: center;">
      <th:block th:each="alert : ${alerts}">
        <div class="alert" th:classappend="${alert.isWarning} ? alert-danger : alert-success">
            <h1 th:text="${alert.alert}"></h1>
         </div>
      </th:block>
    </div>
</body>
</html>